body {
    font-family: Arial;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.dark {
    background: #1e1e1e;
    color: white;
}

.container {
    background: white;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
}

.dark .container {
    background: #2c2c2c;
}

.top-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

input, select {
    padding: 6px;
}

button {
    padding: 6px 10px;
    cursor: pointer;
}

.clear-btn {
    background: red;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #e9ecef;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
}

.dark li {
    background: #3a3a3a;
}

.note-header {
    display: flex;
    justify-content: space-between;
}

.actions button {
    margin-right: 5px;
}

.priority-High { border-left: 5px solid red; }
.priority-Medium { border-left: 5px solid orange; }
.priority-Low { border-left: 5px solid green; }

@media(max-width: 650px) {
    .container {
        width: 100%;
    }
}

